@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.heading-primary {
  font-size: 4rem;
  color: #4B53BC;
  font-family: "Open Sans", sans-serif;
  display: block;
}

.heading-secondary {
  font-size: 3.5rem;
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.btn {
  text-align: center;
}

.btn:focus {
  outline: 0;
}

.btn-nav {
  background-color: #4B53BC;
  color: #fff;
  padding: .7rem 1rem;
  font-size: 1.4rem;
}

.btn-nav:hover {
  text-decoration: underline;
}

.btn-blue {
  margin: 2rem 0;
  display: block;
  width: 20rem;
  padding: 0.8rem 1.5rem;
  background-color: #4B53BC;
  color: #fff;
  -webkit-transform: all 0.3s ease-in;
          transform: all 0.3s ease-in;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.btn-blue:hover {
  opacity: 0.97;
  text-decoration: underline;
}

.btn-blue-outline {
  margin: 2rem 0;
  display: block;
  width: 20rem;
  padding: 0.8rem 1.5rem;
  border: 2px solid #4B53BC;
  color: #111;
  -webkit-transform: all 0.3s ease-in;
          transform: all 0.3s ease-in;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.btn-blue-outline:hover {
  opacity: 0.97;
  text-decoration: underline;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-15rem);
            transform: translateX(-15rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-15rem);
            transform: translateX(-15rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(15rem);
            transform: translateX(15rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(15rem);
            transform: translateX(15rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  font-family: "Lato", sans-serif;
}

.header {
  width: 100vw;
  height: 10vh;
  font-size: 1.6rem;
}

nav {
  width: 90vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  height: 5rem;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

.line {
  height: 2rem;
  width: .8rem;
  margin-left: 1rem;
  margin-right: 2rem;
}

.admin {
  height: 3.5rem;
  border-radius: 50%;
  border: 2px solid #000;
  -webkit-transform: translateY(9%);
          transform: translateY(9%);
}

ul {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  width: 100%;
}

.nav-links {
  color: #111;
  font-size: 1.4rem;
  padding-bottom: 0.3rem;
}

.nav-links:hover {
  border-bottom: 2px solid #000;
}

.nav-links-1 {
  font-weight: 900;
}

.nav-links-blue:not(last) {
  color: #4B53BC;
  margin-left: 7rem;
}

.nav-links-blue:not(last):hover {
  border-bottom: 2px solid #4B53BC;
}

.breadcrumb {
  width: 100%;
  height: 8vh;
  background-color: #4B53BC;
  padding: 1rem 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1.4rem;
}

.breadcrumb p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

.breadcrumb a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 3rem;
  font-weight: normal;
  color: #fff;
}

.breadcrumb a img {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.breadcrumb a:hover img {
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}

.breadcrumb a span:hover {
  border-bottom: 2px solid #fff;
}

.section-hero {
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-img {
  width: 63rem;
  height: 43rem;
  -webkit-animation: moveInRight 1s ease-in;
          animation: moveInRight 1s ease-in;
}

.content {
  padding-left: 5rem;
  -webkit-animation: moveInLeft 1s ease-in;
          animation: moveInLeft 1s ease-in;
}
/*# sourceMappingURL=main.css.map */